/* @media screen and (max-width: 10000px) {
    .avatar_container div h2 {
        top: 47%;
    }
} */

@media  screen and (max-width: 1300px) {

    .leftColumn {
        margin-left: 25px;
    }

    .right_column {
         width: 750px;
    }

    /* .w3-white {
        width: 800px;
        height: 400px;
    } */

     /* .right_column p {
        font-size: 16px;
    } */
    /* .avatar_container div h2 {
        top: 53.10%;
    }  */

}



 @media screen and (max-width: 1212px) {
     .avatar_container img {
         height: 22vw;
        width: 22vw;
     }
     .avatar_container h2 {
        margin-top: 54px;
        height: 33px;
        width: 200px;
        font-size: 19px;
     } 

    .leftColumn {
        width: 22vw;
        margin-left: 15px;
        margin-top: 22px;
        margin-bottom: 15px;
    }

    .w3-white {
        font-size: 15px;
        width: 67.60vw;
    }


    .w3-white  {
        font-size: 14px;
    }
    .w3-white h2{
        font-size: 22px;
    }
    .w3-white h5 {
        font-size: 15px;
    }
    .w3-white h6 {
        font-size: 15px;
    }
    .w3-text-grey {
        font-size: 15px;
    }
    .w3-teal {
        font-size: 14px;
    }
} 

@media screen and (max-width: 1040px) {
    .leftColumn {
        width: 94vw;
        margin-top: 15px;
        margin-left: 22px;
        margin-bottom: 25px;
    }
     .avatar_container img {
         height: 100vw;
         width: 94vw;
     }
 
     .avatar_container h2 {
         margin-top: -8.50px;
         height: 95px;
         width: 550px;
         font-size: 55px;
      } 
      .w3-white {
          width: 93vw;
          margin-bottom: 15px;
     }

     .w3-white  {
        font-size: 15px;
    }
    .w3-white h2{
        font-size: 30px;
    }
    .w3-white h5 {
        font-size: 17px;
    }
    .w3-white h6 {
        font-size: 17px;
    }
    .w3-text-grey {
        font-size: 18px;
    }
    .w3-teal {
        font-size: 16px;
    }
}


@media screen and (max-width: 600px) {
    .leftColumn {
       width: 90vw;
       margin-top: 15px;
       margin-left: 22px;
       margin-bottom: 25px;
   }
    .avatar_container img {
        height: 90vw;
        width: 90vw;
    }

    .avatar_container h2 {
        margin-top: 21.50px;
        height: 65px;
        width: 350px;
        font-size: 35px;
     } 
     .w3-white {
         width: 88vw;
         margin-bottom: 15px;
    }

    .w3-white  {
        font-size: 14px;
    }
    .w3-white h2{
        font-size: 22px;
    }
    .w3-white h5 {
        font-size: 15px;
    }
    .w3-white h6 {
        font-size: 15px;
    }
    .w3-white hr {
        width: 85vw;
    }

    .w3-text-grey {
        font-size: 15px;
    }
    .w3-teal {
        font-size: 14px;
    }
}

@media screen and (max-width: 440px) {
    .w3-white hr {
        width: 0px;
    }
}

@media screen and (max-width: 643px) {
    .w3-white hr {
        width: 0px;
    }
}